<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifuxi.mynote.mapper.NotePicMapper">
    <resultMap id="BaseResultMap" type="com.lifuxi.mynote.model.NotePic">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="note_id" jdbcType="INTEGER" property="noteId"/>
        <result column="pic_id" jdbcType="INTEGER" property="picId"/>
    </resultMap>
</mapper>